@import "../../scss/variables";

@mixin CustomFont($font-size, $font-weight, $color) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: 0.15px;
    color: $color;
}

.Popover {
    pointer-events: none;

    &Container {
        display: flex;
        align-items: center;
    }

    &Frame {
        padding: 16px;
    }

    &Title {
        @include CustomFont(16px, 700, $font-title-color);
    }

    &Content {
        @include CustomFont(14px, 400, $black);
    }

    &SubContent {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &Title {
            @include CustomFont(14px, 400, $font-subtitle-color);
            margin-bottom: 5px;
        }
    }
}
