@import "../../scss/variables";

.CustomerListing {
    &Table {
        min-width: 750px;

        &Head {
            white-space: nowrap;
        }

        &Container {
            max-height: calc(100vh - 230px);
        }

        &Cell {
            border-bottom-color: $table-border-color !important;
        }
    }
}
