@import "../../scss/variables";

@mixin CustomFont($font-color) {
    font-family: $font-family;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: $font-color;
}

.CustomerRegisterFormPersonalData {
    &AdjustFields {
        display: flex;
        flex-wrap: wrap;
    }

    &AdjustFieldPosition {
        margin: 16px 16px 16px 0px;
    }

    &AdjustNameField {
        width: 830px;
    }

    &PersonTypeField {
        width: 191px;
    }

    &CpfField {
        width: 180px;
    }

    &BirthDayField {
        width: 180px;
    }

    &GenderField {
        width: 230px;
    }

    &SourceField {
        width: 191px;
    }
}

.CustomerRegisterFormContact {
    &AdjustTitle {
        display: flex;
        justify-content: space-between;
        margin-right: 360px;
    }

    &AdjustTitleFont {
        @include CustomFont($font-title-color);
    }

    &AdjustSubTitleFont {
        @include CustomFont($font-subtitle-color);
    }

    &AdjustFields {
        display: flex;
        justify-content: space-between;
        margin: 10px 20px 10px 0px;
    }

    &AdjustPosition {
        display: flex;
    }

    &SpacingBetweenFields {
        margin-right: 16px;
    }

    &SpacingBetweenFieldAndIcon {
        margin-right: 10px;
    }

    &PhoneTypeField {
        width: 180px;
    }

    &PhoneField {
        width: 148px;
    }

    &EmailField {
        width: 344px;
    }
}

.CustomerRegisterFormAddress {
    &AdjustTitleFont {
        @include CustomFont($font-title-color);
        margin: 16px 0px;
    }

    &AdjustFields {
        display: flex;
        flex-wrap: wrap;
    }

    &SpacingBetweenFields {
        margin: 0px 16px 16px 0px;
    }

    &AdjustPublicPlaceField {
        width: 200px;
    }

    &AdjustPublicPlaceNameField {
        width: 376px;
    }

    &AdjustPublicPlaceNumberField {
        width: 200px;
    }

    &AdjustCountryField {
        width: 200px;
    }

    &AdjustStateField {
        width: 180px;
    }

    &AdjustCityField {
        width: 180px;
    }

    &AdjustDistrictField {
        width: 200px;
    }

    &AdjustCepField {
        width: 200px;
    }
}
