@import "../../scss/variables";

.Modal {
    &Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.15px;
        color: $font-title-color;
    }

    &AlertIcon {
        margin-left: 5px;
    }

    &ActionIcons {
        display: flex;
        align-items: center;
    }

    &CloseButton {
        position: absolute!important;
        top: 5px;
        right: 8px;
    }

    &Content {
        min-height: 430px;
    }

    &Footer {
        margin: 16px;
    }
}
