@import "../../scss/variables";

.Modal {
    &Title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.15px;
        color: $font-title-color;
    }

    &CloseButton {
        position: absolute!important;
        top: 5px;
        right: 8px;
        color: #606060;
    }

    &Content {
        min-height: 430px;
    }

    &Footer {
        margin: 16px;
    }
}
