$font-family: "Roboto", sans-serif;

.Modal {
    &Title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.15px;
        color: #606060;
    }

    &Footer {
        margin: 16px;
    }
}
