@import "../../scss/variables";

.GenerateTicketForm {
    margin-top: 16px;
    &AdjustSelect {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &GroupEvent {
        width: 260px;
    }

    &EventType {
        width: 260px;
    }

    &Alert {
        margin-top: 10px;
    }

    &DisregardCustomer {
        margin-top: 6px !important;
    }

    &AdjustGenerateContacts {
        margin: 20px 0px;
    }

    &AdjustWorkDaysTextField {
        width: 284px;
    }

    &ConsiderWeekDays {
        display: flex;
        margin-left: 10px;
    }

    &ConsiderWeekDaysSpacing {
        margin-right: 10px;
    }

    &AdjustGenerateCompanyTicket {
        margin-top: 20px;
    }

    &AdjustTypographyColor {
        color: $font-title-color;
    }
}
