@import "./scss/variables";

.App {
    margin: 8px 24px;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;

    &TitleHeader {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.15px;
        color: $font-title-color;
    }
}
